
<div id="header">
          <div class="nav">
               <p>TeamCal &nbsp; &nbsp; &nbsp; &nbsp;<%= link_to "home", root_path %> &nbsp; <%= link_to "users", users_path %> &nbsp; <%= link_to "calendar", events_path %> &nbsp; <%= link_to "availability", free_times_path %> &nbsp; <%= link_to '← Back', :back %></p>
          </div>
     </div>
</br></br></br>

<center><h2>Event successfully created!</h2><br>


<center><%= link_to 'Edit ⎪', edit_event_path(@event) %> 
<%= link_to 'Return to Group Calendar', events_path %></center>
